<?xml version="1.0"?>
<!--
/**
 * @category    Alzymologist
 * @package     Alzymologist_Kalatori
 * @author      Alzymologist
 * @copyright   Alzymologist (https://alzymologist.com)
 * @license     https://github.com/alzymologist/kalatori/blob/master/LICENSE The MIT License (MIT)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="alzymologist" frontName="alzymologist">
            <module name="Alzymologist_KalatoriMax" />
        </route>
    </router>
</config>
