<?xml version="1.0"?>
<!--
/**
 * @category    Alzymologist
 * @package     Alzymologist_Kalatori
 * @author      Alzymologist
 * @copyright   Alzymologist (https://alzymologist.com)
 * @license     https://github.com/alzymologist/kalatori/blob/master/LICENSE The MIT License (MIT)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="kalatori_max" translate="label" type="text" sortOrder="88" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dotpayment via Alzymologist</label>
                <comment>
                    <![CDATA[Not working? <a href="https://developer.alzymologist.com/docs/issues" target="_blank">View common issues</a> or contact <a href="mailto:support@alzymologist.com">support@alzymologist.com</a>]]>
                </comment>

                <field id="active" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Title</label>
                </field>

                <field id="daemon_url" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Daemon url</label>
                </field>

            </group>
        </section>
    </system>
</config>
